.challenge1 {
    width: 330px;
    height: 500px;
    
    padding: 10px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    border-radius: 20px; 
    box-shadow: 0px 7px 12px -6px rgba(66, 68, 90, 1);
    background-color: white

}


.qrcode {
    width: 310px;
    height:310px;
    
    border-radius: 20px;
    position: absolute;
    top: 155px;
    left: 50%;
    transform: translate(-50%, -50%);  
    margin-top: 20px;

}

.qrcodeText1 {
    font-size:10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top:70%;
    font-family: Arial;
    width: 310px;
    text-align: center;
    letter-spacing: 1px;
    margin: auto
    font-weight: bold;
}

.qrcodeText2 {
    font-size:15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 85%;
    margin: auto;
    width : 310px;
    text-align: center;
    font-family: Arial;
    font-size: 10;
    color:gray


}

.chal1 {

    background-color: hsl(212, 45%, 89%);

}